$pipeColor: linear-gradient(0deg, rgba(77, 152, 28, 1) 0%, rgba(77, 133, 38, 1) 6%, rgba(176, 237, 157, 1) 71%, rgba(89, 164, 34, 1) 94%, rgba(103, 138, 80, 1) 100%);
$elementsShadow: 0px -2px 17px 5px rgba(0, 0, 0, 0.71);
$titleFont: mariofont;
$pFont: 'Fredoka', cursive;
$pixelFont: pressStart;

@mixin myFlex ($flex, $direction, $wrap, $justify, $align) {
    display: $flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin reset {
    margin: 0;
    padding: 0;
}

$fontSizes: (
    titulo--h1: 3.4rem,
    titulo--h4: 1.4rem,
    subtitulo: 2.2rem,
    parrafos: 1.6rem
)