.mainContent .mainContent__mainImg--desktop {
  display: none; }

.mainContent .mainContent__mainImg--mobile {
  background-image: url("../img/mobile/mainImgMobile.png");
  width: 100%;
  height: auto;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 500px 320px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-areas: "mario . luigi";
  box-shadow: 0px -2px 17px 5px rgba(0, 0, 0, 0.71);
  overflow: hidden; }

.mainContent .mainImg__marioMain,
.mainContent .mainImg__luigiMain {
  grid-area: mario;
  width: 150px;
  height: auto;
  transition: transform 2s; }
  .mainContent .mainImg__marioMain:hover,
  .mainContent .mainImg__luigiMain:hover {
    transform: scale(1.05); }

.mainContent .mainImg__luigiMain {
  grid-area: luigi; }

@media screen and (min-width: 500px) {
  .mainContent .mainContent__mainImg--mobile {
    display: none; }
  .mainContent .mainContent__mainImg--desktop {
    background-image: url("../img/desktop/portada.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 1200px auto;
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-rows: repeat(9, 47px);
    grid-template-areas: ". . . . ." "nube1 nube1 nube1 . ." ". . nube2 nube2 nube2" "mario . . . luigi" "mario . hongo . luigi" "mario . bloque . luigi" "mario . minimario . luigi" "mario . . . luigi" "mario . . . luigi";
    box-shadow: 0px -2px 17px 5px rgba(0, 0, 0, 0.71);
    overflow: hidden;
    align-content: space-between; }
    .mainContent .mainContent__mainImg--desktop .mainImg__marioMain,
    .mainContent .mainContent__mainImg--desktop .mainImg__luigiMain {
      justify-self: flex-start;
      align-self: flex-end;
      width: 220px;
      z-index: 900; }
    .mainContent .mainContent__mainImg--desktop .mainImg__luigiMain {
      justify-self: flex-end; }
    .mainContent .mainContent__mainImg--desktop .mainImg__nube1,
    .mainContent .mainContent__mainImg--desktop .mainImg__nube2 {
      grid-area: nube1;
      justify-self: center;
      width: 80px;
      height: auto;
      animation-name: nube1;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-duration: 10s;
      animation-delay: 0ms;
      z-index: 0; }
    .mainContent .mainContent__mainImg--desktop .mainImg__nube2 {
      grid-area: nube2;
      width: 100px;
      animation-name: nube2; }
  @keyframes nube1 {
    0% {
      transform: translate(0px, 0px); }
    25% {
      transform: translate(-4px, -4px); }
    50% {
      transform: translate(4px, 4px); }
    75% {
      transform: translate(-8px, -8px); }
    100% {
      transform: translate(0px, 0px); } }
  @keyframes nube2 {
    0% {
      transform: translate(0px, 0px); }
    25% {
      transform: translate(5px, 5px); }
    50% {
      transform: translate(2px, 2px); }
    75% {
      transform: translate(-3px, -3px); }
    100% {
      transform: translate(0px, 0px); } }
    .mainContent .mainContent__mainImg--desktop .mainImg__bloque {
      grid-area: bloque;
      align-self: flex-start;
      width: 33px;
      height: auto;
      z-index: 2; }
    .mainContent .mainContent__mainImg--desktop .mainImg__hongo {
      grid-area: hongo;
      align-self: flex-end;
      width: 33px;
      height: auto;
      z-index: 2;
      animation-name: animhongo;
      animation-duration: 8s;
      animation-fill-mode: forwards;
      animation-delay: 2.2s;
      position: relative;
      bottom: -31px;
      opacity: 0;
      animation-timing-function: linear; }
  @keyframes animhongo {
    1% {
      opacity: 1; }
    10% {
      transform: translatey(-31px); }
    15% {
      transform: translate(20px, -32px); }
    30% {
      transform: translate(100px, 104px); }
    90% {
      transform: translate(800px, 104px);
      opacity: 1; }
    91% {
      opacity: 0; } }
    .mainContent .mainContent__mainImg--desktop .mainImg__miniMarioMain {
      grid-area: minimario;
      width: 35px;
      align-self: flex-end;
      animation-name: minimario;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-delay: 2s;
      animation-timing-function: linear; }
  @keyframes minimario {
    100% {
      transform: translatey(-27px); } } }

@media screen and (min-width: 1200px) {
  .mainContent .mainContent__mainImg--desktop {
    background-size: 2000px auto;
    grid-template-rows: repeat(9, 85px);
    grid-template-areas: ". . . . ." "nube1 nube1 nube1 . ." ". . nube2 nube2 nube2" "mario . . . luigi" "mario . hongo . luigi" "mario . bloque . luigi" "mario . minimario . luigi" "mario . minimario . luigi" "mario . . . luigi"; }
    .mainContent .mainContent__mainImg--desktop .mainImg__nube1 {
      width: 160px; }
    .mainContent .mainContent__mainImg--desktop .mainImg__nube2 {
      width: 200px; }
    .mainContent .mainContent__mainImg--desktop .mainImg__miniMarioMain {
      width: 57px;
      align-self: center; }
  @keyframes minimario {
    100% {
      transform: translatey(-57px); } }
    .mainContent .mainContent__mainImg--desktop .mainImg__hongo {
      width: 50px;
      height: auto;
      bottom: -80px;
      opacity: 0;
      animation-duration: 8s; }
  @keyframes animhongo {
    1% {
      opacity: 1; }
    10% {
      transform: translatey(-50px); }
    15% {
      transform: translate(40px, -50px); }
    30% {
      transform: translate(150px, 170px); }
    90% {
      transform: translate(1400px, 170px);
      opacity: 1; }
    91% {
      opacity: 0; } }
    .mainContent .mainContent__mainImg--desktop .mainImg__bloque {
      width: 53px;
      align-self: flex-end; }
    .mainContent .mainContent__mainImg--desktop .mainImg__marioMain,
    .mainContent .mainContent__mainImg--desktop .mainImg__luigiMain {
      width: 470px; } }

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: undefined;
  justify-content: undefined;
  align-items: center; }
  .info .container__carousel {
    width: 230px; }
  .info .container__carousel--2 {
    transform: rotatey(180deg); }
  .info .scoreTable {
    font-size: 0.9rem;
    font-family: pressStart;
    border: 2px dashed black; }
    .info .scoreTable th {
      border-bottom: dashed 2.5px black; }

.parallax__container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 0.4rem;
  grid-template-areas: "v1" "v2"; }
  .parallax__container .parallax {
    width: 100%;
    height: 5rem;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 30px 0px 30px;
    box-shadow: 0px -2px 17px 5px rgba(0, 0, 0, 0.71); }
  .parallax__container .parallax--w1 {
    grid-area: v1; }
  .parallax__container .parallax--w2 {
    grid-area: v2; }
  .parallax__container .parallax--w3 {
    grid-area: v3; }
  .parallax__container .parallax--w4 {
    grid-area: v4; }
  .parallax__container .parallax--img1 {
    background-image: url("../img/mobile/parallax1.jpg"); }

@media screen and (min-width: 500px) {
  .parallax__container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "v1 v1 v2" "v3 v4 v4";
    margin-top: 1rem; }
    .parallax__container .parallax--w3,
    .parallax__container .parallax--w4 {
      display: block; }
  .info .scoreTable {
    font-size: 1.5rem; } }

@media screen and (min-width: 1200px) {
  .info .scoreTable {
    font-size: 1.7rem; } }

.cardSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem; }
  .cardSection .flipCard {
    background-color: transparent;
    width: 25rem;
    height: 33rem;
    border-radius: 50px;
    perspective: 1000px;
    margin: 2rem;
    z-index: 0; }
    .cardSection .flipCard:hover .flipCard__inner {
      transform: rotateY(180deg); }
  .cardSection .flipCard__inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    border-radius: 50px; }
    .cardSection .flipCard__inner .flipCard__front,
    .cardSection .flipCard__inner .flipCard__back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .cardSection .flipCard__inner .flipCard__back {
      background: linear-gradient(0deg, white 18%, #e8a108 100%);
      color: white;
      transform: rotateY(180deg);
      border-radius: 50px; }
      .cardSection .flipCard__inner .flipCard__back h1 {
        font-size: 3rem;
        font-family: mariofont;
        color: black;
        margin: 1rem; }
      .cardSection .flipCard__inner .flipCard__back p {
        color: black;
        margin: 0 1rem; }
    .cardSection .flipCard__inner .flipCard__front img {
      width: 25rem;
      height: 33rem;
      border-radius: 50px; }

@media screen and (min-width: 1200px) {
  .cardSection .flipCard {
    width: 30rem;
    height: 40rem; }
    .cardSection .flipCard .flipCard__front img {
      width: 30rem;
      height: 40rem; } }

.containerMedia .imgGallery, .containerMedia .spotiFrame,
.containerMedia .spotiFrame--small, .containerMedia .imgGallery--spoti {
  margin: 5px 0; }

.containerMedia .spotiFrame,
.containerMedia .spotiFrame--small {
  width: 100%; }

.containerMedia .spotiFrame--small {
  height: 300px; }

.containerMedia img {
  width: 100%;
  height: auto;
  transition: transform .5s ease; }
  .containerMedia img:hover {
    transform: scale(1.015);
    z-index: 1; }

.contact__container .contacto__img {
  max-width: 80%; }

.contact__container .form-floating > label {
  margin-left: 1rem; }

.contact__container .spinAnim {
  transition: transform 1s; }
  .contact__container .spinAnim:hover {
    transform: rotateY(360deg); }

.contact__container .formButton {
  background-color: green;
  border-color: greenyellow;
  transition: background-color .5s; }
  .contact__container .formButton:hover {
    background-color: red; }

.contact__container .concactForm input,
.contact__container .concactForm textarea {
  transition: background-color .5s; }
  .contact__container .concactForm input:focus,
  .contact__container .concactForm textarea:focus {
    background-color: #daffce; }

@media screen and (min-width: 500px) {
  .contact__container .textArea {
    height: 70px;
    font-size: 1.6rem; }
  .contact__container .form-floating > label {
    font-size: 1.4rem;
    margin-left: 1rem; }
  .contact__container .btn-lg {
    font-size: 1.6rem; } }

@media screen and (min-width: 1200px) {
  .contact__container .textArea {
    height: 100px;
    font-size: 1.8rem; } }

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%; }
  html body {
    height: 100%;
    width: 100%;
    /* Bottom footer */
    background-image: url("../img/bkgjpg.jpg");
    line-height: 1.3; }

@font-face {
  font-family: mariofont;
  src: url(../fonts/mariofont.ttf); }

@font-face {
  font-family: pressStart;
  src: url(../fonts/pressstart.ttf); }

.centeredText {
  text-align: center; }

.justifiedText {
  text-align: justify; }

.webMargins {
  margin: 10px; }

.hide {
  display: none; }

dl,
ol,
ul {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.container--plain {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
  justify-items: center;
  min-height: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%; }
  .container--plain .headerMain {
    grid-area: header;
    width: 100%;
    background: linear-gradient(0deg, #4d981c 0%, #4d8526 6%, #b0ed9d 71%, #59a422 94%, #678a50 100%);
    box-shadow: 0px -2px 17px 5px rgba(0, 0, 0, 0.71);
    z-index: 998;
    position: sticky;
    top: 0; }
    .container--plain .headerMain .navLogo {
      width: 8rem;
      height: auto;
      margin: 0.5rem 0 0.5rem 0;
      box-shadow: 0px -2px 17px 5px rgba(0, 0, 0, 0.71); }
    .container--plain .headerMain li {
      list-style-type: none;
      font-size: 0.8rem;
      margin: 0.5rem 1.5rem;
      font-family: pressStart; }
      .container--plain .headerMain li img {
        display: none; }
    .container--plain .headerMain a {
      color: black; }
      .container--plain .headerMain a:hover {
        color: #cc5d03; }
  .container--plain .footerMain {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-areas: "logo test siteMap social";
    background-image: url(../img/mobile/footer.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    padding: 0.3rem;
    padding-top: 100px; }
    .container--plain .footerMain .footerImg {
      grid-area: logo; }
      .container--plain .footerMain .footerImg img {
        width: 9rem; }
    .container--plain .footerMain .footerMain__siteMap a:hover,
    .container--plain .footerMain .footerMain__socialNetworls a:hover {
      color: blue; }
    .container--plain .footerMain .footerMain__socialNetworls {
      grid-area: social;
      z-index: 100;
      display: flex;
      flex-direction: column;
      flex-wrap: undefined;
      justify-content: center;
      align-items: undefined;
      border-left: solid 2px blue; }
      .container--plain .footerMain .footerMain__socialNetworls a {
        font-size: 1.5rem;
        color: white;
        transition: color 0.5s;
        margin: 2px; }
    .container--plain .footerMain .footerMain__siteMap {
      grid-area: siteMap;
      display: flex;
      flex-direction: column;
      flex-wrap: undefined;
      justify-content: undefined;
      align-items: undefined;
      border-left: solid 2px blue;
      padding: 0 1rem; }
      .container--plain .footerMain .footerMain__siteMap a {
        font-size: 1.1rem;
        color: white;
        transition: color 0.5s;
        margin: 2px; }
    .container--plain .footerMain .footerMain__socialCopy {
      grid-area: test;
      font-size: 0.9rem;
      color: white;
      z-index: 99;
      align-self: flex-end; }
      .container--plain .footerMain .footerMain__socialCopy p {
        margin: 1rem; }
  .container--plain .mainContent {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: undefined;
    justify-content: undefined;
    align-items: undefined; }
    .container--plain .mainContent h1 {
      font-size: 3.4rem;
      font-family: mariofont; }
    .container--plain .mainContent h4 {
      font-size: 1.5rem;
      font-family: "Fredoka", cursive;
      font-weight: bold; }
    .container--plain .mainContent .pageSubtitle {
      font-size: 2.2rem;
      font-family: mariofont;
      margin: 1.5rem 0; }
    .container--plain .mainContent p {
      font-family: "Fredoka", cursive;
      font-size: 1.6rem;
      margin: 0; }
    .container--plain .mainContent .containerWShadow {
      background-color: rgba(249, 146, 11, 0.214);
      box-shadow: 0px -2px 17px 5px rgba(0, 0, 0, 0.71); }

@media screen and (min-width: 500px) {
  .container--plain {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "main main main" "footer footer footer"; }
    .container--plain .headerMain {
      background: none;
      box-shadow: none;
      position: absolute;
      z-index: 9999;
      margin-top: 1.5rem;
      /* CUSTOM NAV BREAK POINT */ }
      .container--plain .headerMain .navLogo {
        width: 110px; }
      .container--plain .headerMain .nav-plain ul {
        margin-right: 2rem; }
        .container--plain .headerMain .nav-plain ul li {
          font-size: 1.2rem; }
      .container--plain .headerMain .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start; }
      .container--plain .headerMain .navbar-expand-custom .navbar-nav {
        flex-direction: row; }
      .container--plain .headerMain .navbar-expand-custom .dropdown-menu {
        position: absolute; }
      .container--plain .headerMain .navbar-expand-custom .nav-link {
        padding-right: .5rem;
        padding-left: .5rem; }
      .container--plain .headerMain .navbar-expand-custom > .container {
        flex-wrap: nowrap; }
      .container--plain .headerMain .navbar-expand-custom .navbar-collapse {
        display: flex !important;
        flex-basis: auto; }
      .container--plain .headerMain .navbar-expand-custom .navbar-toggler {
        display: none; }
    .container--plain .headerMain__container--pages {
      background: linear-gradient(0deg, #4d981c 0%, #4d8526 6%, #b0ed9d 71%, #59a422 94%, #678a50 100%);
      box-shadow: 0px -2px 17px 5px rgba(0, 0, 0, 0.71);
      position: relative;
      animation-name: slide;
      animation-duration: 1s;
      right: 105%;
      animation-fill-mode: forwards; }
      .container--plain .headerMain__container--pages:before {
        background: linear-gradient(0deg, #4d981c 0%, #4d8526 6%, #b0ed9d 71%, #59a422 94%, #678a50 100%);
        box-shadow: 0px -2px 17px 5px rgba(0, 0, 0, 0.71);
        position: absolute;
        content: "";
        width: 33px;
        height: 95px;
        right: 0;
        border-radius: 3px;
        top: 50%;
        transform: translateY(-50%); }
  @keyframes slide {
    100% {
      transform: translatex(105%); } }
    .container--plain .navBar__containerWCoin {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: undefined;
      justify-content: undefined;
      align-items: center;
      position: relative;
      padding: 0.5rem 0; }
      .container--plain .navBar__containerWCoin:hover .navBar__coin--desktop {
        visibility: visible;
        opacity: 1;
        transform: translatey(-15px) rotateY(180deg); }
      .container--plain .navBar__containerWCoin .navBar__coin--desktop {
        display: block;
        visibility: hidden;
        opacity: 0;
        width: 2.2rem;
        height: auto;
        position: absolute;
        transition: all 0.5s;
        top: -1rem; }
    .container--plain .headerMain--sticky {
      position: sticky;
      top: 0;
      z-index: 998; }
    .container--plain .mainContent h1 {
      font-size: 5rem; }
    .container--plain .mainContent h4 {
      font-size: 1.7rem; }
    .container--plain .mainContent .pageSubtitle {
      font-size: 3rem;
      margin: 1.5rem 0; }
    .container--plain .mainContent p {
      font-size: 1.9rem;
      margin: 0; }
    .container--plain .footerMain {
      background-image: url(../img/desktop/footer1200.png);
      padding-top: 110px; }
      .container--plain .footerMain .footerImg img {
        width: 10rem; }
      .container--plain .footerMain .footerMain__socialNetworls a {
        font-size: 2.5rem; }
      .container--plain .footerMain .footerMain__siteMap a {
        font-size: 1.8rem; }
      .container--plain .footerMain .footerMain__socialCopy p {
        font-size: 1.7rem; } }

@media screen and (min-width: 1200px) {
  .container--plain {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header header" "main main main main main" "footer footer footer footer footer"; }
    .container--plain .headerMain .nav-plain ul li {
      font-size: 1.6rem;
      margin-right: 2.5rem; }
    .container--plain .headerMain .navBar__coin--desktop {
      top: -1.5rem;
      width: 2.7rem; }
    .container--plain .headerMain .headerMain__container--pages::before {
      width: 40px;
      height: 120px; }
    .container--plain .headerMain .navLogo {
      width: 16rem; }
    .container--plain .mainContent .pageTitle h1 {
      font-size: 7rem; }
    .container--plain .mainContent .pageTitle h4 {
      font-size: 2rem; }
    .container--plain .mainContent .pageSubtitle {
      font-size: 4rem; }
    .container--plain .mainContent p {
      font-size: 2.1rem; }
    .container--plain .footerMain {
      background-image: url(../img/desktop/footer2000.png);
      padding-top: 185px; }
      .container--plain .footerMain .footerImg img {
        width: 12rem; }
      .container--plain .footerMain .footerMain__socialNetworls a {
        font-size: 3rem; }
      .container--plain .footerMain .footerMain__siteMap a {
        font-size: 2.15rem; }
      .container--plain .footerMain .footerMain__socialCopy p {
        font-size: 2rem; } }
